body {
    margin: 0px;
    background: radial-gradient(#008fff 0%, #0f325b 100%);
}

#clicker {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}