html {
    min-height: 100%;
}

body {
    background: radial-gradient(#008fff 0%, #0f325b 100%);
}

#c {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#l {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50% -50%);
    position: absolute;
    top: 75%;
    left: 50%;
}